/* modif-supprimer-ModifCompetence.css */

/* Bouton bleu : Modifier la compétence */
.button-modifier {
    -fx-background-color: #B9B9B9; /* gris*/
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 30px; /* Capsule */
    -fx-border-radius: 30px;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

/* Bouton rouge : Supprimer la compétence */
.button-supprimer {
    -fx-background-color: #e53935; /* Rouge vif */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

/* Optionnel : effets au survol */
.button-modifier:hover {
    -fx-background-color: #B9B9B9;
}

.button-supprimer:hover {
    -fx-background-color: #d32f2f;
}
