.root {
    -fx-font-family: 'Poppins', 'Roboto', sans-serif;
    -fx-background-color: #FCFCFC;
}

.shadow {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.1, 0, 2);
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}

.texteBoxFondFoncé {
	-fx-font-family: 'Poppins', 'Roboto', sans-serif;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 16;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
}

.FichePersonelle {
	-fx-font-family: 'Poppins', sans-serif;
	-fx-text-fill: black;
	-fx-font-size: 40;
	/*En plus pour être sur qu'il n'y a pas de fond */
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-color: transparent;
}

.titreAttributRemplissageSecouriste {
	-fx-font-family: 'Poppins', sans-serif;
	-fx-text-fill: black;
	-fx-font-size: 14;
	-fx-font-weight: bold;
	/*En plus pour être sur qu'il n'y a pas de fond */
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-color: transparent;
}

.textFieldAttributSecouriste {
	-fx-background-color: transparent;         /* pas de fond blanc */
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: transparent transparent black transparent; /* trait juste en bas */	/* Haut, Droite, Bas, Gauche */
    -fx-border-width: 0 0 1 0;					/* Haut, Droite, Bas, Gauche */

    -fx-prompt-text-fill: grey;                /* texte temporaire gris */
    -fx-text-fill: black;                      /* texte tapé */
    -fx-font-size: 14;
}

.textfield-modern:focused {
    -fx-border-color: transparent transparent #2196F3 transparent; /* bleu au focus */
}

.resized-image {
    -fx-fit-width: 84px; 		/* Définit la largeur de l'image */
    -fx-fit-height: 71px; 		/* Définit la hauteur de l'image */
    -fx-preserve-ratio: true; 	/* Conserve le ratio de l'image */
}

.btnCreer {
	-fx-background-color: #1A2A60;
	-fx-background-radius: 10;
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size: 22;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	
	-fx-fit-width: 165;
	-fx-fit-height: 42px
}
.titled-style {
    /* Fond du TitledPane */
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-radius: 8;
    -fx-border-width: 1;

    /* Titre */
    -fx-text-fill: #2b2b2b;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    /* Marges et espacements */
    -fx-padding: 8;

    /* Flèche */
    -fx-collapsible: true; /* important si elle ne se replie pas */
    -fx-animated: true;
}

.larger-checkbox .box {
    -fx-border-radius: 10;
    -fx-pref-width: 41;
    -fx-pref-height: 41;
    -fx-background-color: transparent;
    -fx-border-color: #1E3A8A;
    -fx-border-width: 3.5;
}
/*
.larger-checkbox:selected .mark {
    -fx-shape: "M-1.0,5.0 L4.0,9.0 L9.0,-1.0";
}
*/


.larger-checkbox .mark {
	-fx-stroke-color: #1E3A8A;
	/*
    -fx-stroke-width: 2;
    -fx-scale-shape: true;
    */
}






