.root {
    -fx-font-family: 'Poppins', 'Roboto', sans-serif;
    -fx-background-color: #FCFCFC;
}
.shadow {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.1, 0, 2);
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}

.scrollContour {
	-fx-border-color: #AAAAAA;
	-fx-border-width: 1px;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}

.blocBleuSecouriste {
	-fx-background-color: #1A2A60;
	-fx-background-radius: 20;
	-fx-font-family: 'Poppins', 'Roboto', sans-serif;
	-fx-text-fill: #FFFFFF;
}

.nomPrenomSecouriste {
	-fx-font-family: 'Poppins', 'Roboto', sans-serif;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 24;
}

/*Jsp pourquoi il n'accepte pas le nom sur scene builder : texteBoxFondFoncé */
.jsp {
	-fx-font-family: 'Poppins', 'Roboto', sans-serif;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 16;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
}

.BarDeRechercheSecouriste {
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size: 24;
	-fx-background-color: #D9D9D9;
	-fx-background-radius: 10;
}

.BlocBleuAjouterSecouriste {
	-fx-background-color: #1A2A60;
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-font-family: 'Poppins', 'Roboto', sans-serif;
	-fx-text-fill: #FFFFFF;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-background-insets: 0;
}


