/* Profil.css */

.root {
    -fx-background-color: white;
}

.barre-orange {
    -fx-background-color: #ff6a00;
    -fx-padding: 15px;
}

.bloc-gauche, .bloc-droit {
    -fx-background-color: white;
    -fx-padding: 25px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.3, 3, 3);
    -fx-min-width: 400px;
}

.nom-profil {
    -fx-font-size: 16px;
    -fx-text-fill: #1f2a73;
    -fx-font-weight: bold;
}

.champ-info {
    -fx-font-size: 14px;
    -fx-text-fill: #1f2a73;
}

.champ {
    -fx-pref-width: 280px;
    -fx-padding: 8px;
    -fx-background-color: #e6f0ff;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: #1f2a73;
    -fx-border-width: 1;
    -fx-font-size: 13px;
}

.btn-modifier {
    -fx-background-color: #1f2a73;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-padding: 6px 14px;
}

.btn-retour {
    -fx-background-color: #1f2a73;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6px 14px;
    -fx-background-radius: 10px;
}
