
.root {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-background-color: #fcfcfc;
}

.header {
    -fx-background-color: #f97316;
    -fx-padding: 16px;
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}

.nav-icon {
    -fx-fit-to-width: true;
    -fx-preserve-ratio: true;
    -fx-cursor: hand;
}

.profile-card {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-radius: 8px;
}

.profile-avatar {
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-alignment: center;
}

.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-box {
    -fx-background-color: #e0edff;
    -fx-background-radius: 6px;
    -fx-padding: 8px;
    -fx-spacing: 6px;
}

.certification-button {
    -fx-background-color: #e0edff;
    -fx-border-color: #1e3a8a;
    -fx-border-width: 1px;
    -fx-padding: 10px 14px;
    -fx-font-size: 14px;
    -fx-text-fill: #1e3a8a;
    -fx-background-radius: 6px;
}

.button-action {
    -fx-background-color: #1e3a8a;
    -fx-text-fill: white;
    -fx-padding: 10px 16px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.footer {
    -fx-background-color: #f97316;
    -fx-padding: 12px;
    -fx-alignment: center-left;
}
